@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-secondary: #f5741c;
  --color-darkBg: #131424;
  --gradient-cover: linear-gradient(90.21deg, rgba(70, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);


  --color-woodsmoke-50: #f8f7f8;
  --color-woodsmoke-100: #f0eeef;
  --color-woodsmoke-200: #ded9dc;
  --color-woodsmoke-300: #c0b9bd;
  --color-woodsmoke-400: #9e9299;
  --color-woodsmoke-500: #82757d;
  --color-woodsmoke-600: #6b5e65;
  --color-woodsmoke-700: #574d52;
  --color-woodsmoke-800: #4a4246;
  --color-woodsmoke-900: #403a3d;
  --color-woodsmoke-950: #151314;

  --color-secondary: #f5741c;
  --color-darkBg: #131424;
  --gradient-cover: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);

}



html,
body {
  color: var(--color-woodsmoke-50);
  background: var(--color-woodsmoke-950);
}

main {
  background: var(--color-woodsmoke-950);
  height: 100vh;
  height: 100dvh;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}

